      <%- include('../partials/header') %>
        <main>
          <h2 id="event-header">Add a New Event</h2>
          <form action="/events" method="POST">
            <div class="container">
            <div class="row col-md-6 custyle table1">
          <table class="table custab">
            <thead>
              <tr>
                <th>Event Details:</th>
              </tr>
            </thead>
            <tbody>
              <form action="/events" method="POST">
              <tr>
                <td>
                  <label>Name of Event:
                    <input type="text" name="title">
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Date:
                    <input type="date" name="date">
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Time:
                    <input type="time" name="time">
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Street:
                    <input type="text" name="street">
                  </label> 
                </td>
              </tr>
              <tr>
                <td>
                  <label>City:
                    <input type="text" name="city">
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label>State:
                    <input type="text" name="state">
                  </label>
                </td>
              <tr>
                <td>
                  <label>Description:
                    <input type="text" name="descrip">
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="submit" value="Add Event">
                </td>
              </tr>
            </form>
          </main>
         </section> 
         <%- include('../partials/footer') %>

              