<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bridge</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section class="background">
      <nav class="navbar">  
        <div class="logo">
          <h2> 🌉 Bridge</h2>
        </div>
        <ul class="links">
          <li><a href="/">Home</li>
          <li><a href="/events">Events</a></li>
          <li><a href="#">Create My Circle</a></li>
          <li><a href="/auth/google">Log In</a></li>
        </ul>  
      </nav>