<!DOCTYPE html>
<html>
  <head>
    <title>Bridge</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section class="background">
      <nav class="navbar">
        <h2> 🌉 Bridge</h2>
        <ul>
          <li><a href="#">Home</li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Log in with Google</a></li>
        </ul>  
        <!-- ../public/images/study.jp -->
      </nav>
    <section class="wrapper">
      <div class="text-container">
        <h1>Bridge</h1>
        <h2>Connecting classmates with local network events.</h2>
        <input type="submit" value="See Events">
      </div>
    </section>
    </section>
  </body>
</html>
