<!DOCTYPE html>
<html>
  <head>
    <title>Bridge</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section class="background">
      <nav class="navbar">
        <img class="logo" src="#">
        <ul>
          <li><a href="#">Home</li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Log in with Google</a></li>
        </ul>
      </nav>
      <div>
        <h1>Connecting classmates with local network events.</h1>
        <input type="submit" value="See Events">
      </div>
    </section>
  </body>
</html>
