    <%- include('./partials/header') %>
    <section class="wrapper">
      <div class="text-container">
        <h1>Bridge</h1>
        <h2>Connecting you and your classmates with local network events.</h2>
        <input type="button" class="button_active" value="See Events" onclick="location.href='/events';" />
      </div>
    </section>
    </section>
    <%- include('./partials/footer') %>

    


