<!DOCTYPE html>
<html>
  <head>
    <title>Bridge</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="164415784012-ciqj6g56nbect48tqhpg770fqgg630lh.apps.googleusercontent.com">
  </head>
  <body>
    <section class="background">
      <nav class="navbar">  
        <div class="logo">
          <h2> 🌉 Bridge</h2>
        </div>
        <ul class="links">
          <li><a href="#">Home</li>
          <li><a href="#">Events</a></li>
          <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </ul>  
      </nav>
    <section class="wrapper">
      <div class="text-container">
        <h1>Bridge</h1>
        <h2>Connecting you and your classmates with local network events.</h2>
        <input type="submit" value="See Events">
      </div>
    </section>
    </section>
  </body>
</html>
